:root {
  --fuente: "Open Sans", sans-serif;
}

body {
  background-color: #e5bb89;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.contenedor {
  display: grid;
  grid-template-columns: 70% 30%;
  background: linear-gradient(rgba(248, 85, 85, 50%), #e5bb89);
  gap: 2rem;
  width: min(110rem, 95%);
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 0.5rem;
  font-family: var(--fuente);
  height: max-content;
}
.rellenar {
  text-align: center;
  width: 30%;
  border-radius: 5px;
  margin: auto;
}
.Qtions {
  grid-row: 1/3;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: -2rem;
  width: max-content;
}
.contenido_pregunta {
  text-shadow: unset;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.4rem;
  width: 100%;
  border-bottom: 2px solid black;
  text-align: center;
}
.temporizador {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: -1rem;
  margin-right: 2rem;
  background: linear-gradient(to bottom, gold 30%, rgb(247, 105, 105));
  height: min-content;
  border-bottom: 5px solid black;
  border-radius: 0.5rem;
}
.title_temp {
  text-align: center;
  height: auto;
  padding: 5px;
  margin: auto;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 20px;
}
.descrip {
  font-size: 13px;
  font-weight: bold;
}
.campo {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  font-size: 1.3rem;
  background: linear-gradient(
    to top,
    rgb(234, 213, 173),
    rgb(247, 105, 105) 90%
  );
  padding: 1rem;
  flex: 1 1 20rem;
  margin: 1rem auto;
  height: 20.5rem;
  border-bottom: 5px solid black;
  border-radius: 1rem;
}
.campo:hover {
  box-shadow: 0px 0px 2px 2px black;
  /* transform: rotate(5deg); */
}
.centrar {
  display: flex;
  flex-flow: nowrap column;
  justify-content: space-between;
  align-items: center;
}
input {
  padding: 1rem;
  width: 65%;
  margin-top: 1rem;
  border: none;
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  border-radius: 0.5rem;
  color: #222;
  transition: all 0.3s ease;
  text-align: center;
}
input:focus {
  outline: none;
  width: 100%;
  transition: all 0.3s ease;
  box-shadow: 0 2px 0 1px lightblue;
  background-color: #22222296;
  color: white;
}
input::placeholder {
  text-transform: uppercase;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.571);
}
.campo-header {
  background-color: #2222224e;
  color: #e6e6e6;
  width: 100%;
  padding: 1rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 5px;
}
.areaTemp {
  margin: auto;
  width: 90%;
  height: max-content;
  padding: 1rem;
  border-radius: 5px;
}
.section_tempo {
  text-align: center;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}
.Comentarios {
  width: 3rem;
  height: 3rem;
  background-color: red;
}
.gratefoul {
  text-align: center;
  font-size: 15px;
}
span {
  color: rgba(129, 0, 250, 0.993);
}
.contenedor_botones {
  display: flex;
  flex-flow: nowrap column;
  gap: 1rem;
  padding: 1rem;
  background-color: #2222223e;
  border-radius: 0.2rem;
}
.boton {
  width: 100%;
  padding: 1.5rem;
  border: none;
  font-size: 1.4rem;
  text-transform: capitalize;
  font-family: var(--fuente);
  font-weight: bold;
  cursor: pointer;
}
.boton:hover {
  background-color: #22222292;
  color: #e6e6e6;
}
.boton:focus {
  transform: scale(0.99);
  border-radius: 0.5rem;
  outline: 2px solid rgb(34, 15, 243);
}
.boton:active {
  background-color: #222222f7;
  border-radius: 0.5rem;
}
.bg-boton {
  max-height: 5rem;
}
.bg-boton:active {
  border-radius: 0.5rem;
  transform: scale(0.98);
  transition: all ease 0.1s;
  box-shadow: 1px 0 1px 1px #2222223e;
}
@media (max-width: 40rem) {
  .contenedor {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding: 1rem;
  }
  .title {
    width: 95% !important;
  }
  .temporizador {
    order: -1;
    gap: 1rem;
    width: 95%;
    margin: auto;
  }
  .section_tempo {
    padding: 2rem;
  }
  input {
    border-radius: 1rem;
    padding: 2rem;
    width: 100%;
  }
  .contenedor_botones {
    background-color: unset;
  }
  .boton {
    border-radius: 2rem;
  }
  #startemp {
    height: 100%;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
  }
  .reinicio,
  .fin {
    display: none !important;
  }
  #reiniciar,
  #fincuest {
    border-radius: 0.5rem;
    width: 95%;
    margin: auto;
    padding: 2rem;
  }
  .contenedor_mediacel {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    width: 95%;
    margin: auto;
    height: max-content;
    background-color: #2222223e;
  }
  .contenedor_mediacel .boton {
    padding: 2rem;
    border-radius: 0.5rem;
  }
}
.title {
  width: 50%;
  background-color: #2222223e;
  font-size: 1.3rem;
  color: white;
  margin: 1rem auto;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.gentitle {
  font-family: var(--fuente);
  font-style: italic;
}
.tryuser {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #2222223e;
}
#AjustarT {
  margin-bottom: 1rem;
}
.perSotempo {
  text-align: center;
  width: 100%;
  height: 50px;
}
#tempo {
  background-color: #22222218;
  padding: 1rem;
  font-size: 2.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
}