:root {
  --fuente: "Open Sans", sans-serif;
}
body {
  background-color: #e5bb89;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
.contenedor {
  display: grid;
  grid-template-columns: 70% 30%;
  background: linear-gradient(rgb(248, 85, 85) 50%, #e5bb89);
  align-content: center;
  width: min(100rem,95%);
  margin: 2rem auto;
  padding: 1rem;
  border-radius: .5rem;
  font-family: var(--fuente);
}
.rellenar {
  text-align: center;
  width: 30%;
  border-radius: 5px;
  margin: auto;
}

.Qtions {
  grid-row: 1/3;
  display: flex;
  max-width: max-content;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  border-radius: 5px;
  margin-bottom: auto;
  padding: 1rem;
}

.Qtions p {
  text-shadow: unset;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 14px;
  width: 95%;
  border-left: 5px solid black;
  padding: 10px;
}

.temporizador {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 17px;
   padding: 1rem;
  background: linear-gradient(to bottom, gold 30%, rgb(247, 105, 105));
  height: auto;
  border-bottom: 5px solid black;
  border-radius: 5px;
}

.temporizador:hover {
  box-shadow: 0px 0px 4px 4px rgb(0, 0, 0);
}

.temporizador:active {
  box-shadow: 0px 0px 4px 4px rgb(0, 0, 0);
}

.title_temp {
  text-align: center;
  height: auto;
  width: 65%;
  padding: 5px;
  margin: auto;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 20px;
}

.descrip {
  font-size: 13px;
  font-weight: bold;
}

.campo {
  display: flex;
  flex-flow: column nowrap;
justify-content: space-between;  font-size: 13px;
  background: linear-gradient(to top,
      rgb(234, 213, 173),
      rgb(247, 105, 105) 90%);
  padding: 0.5rem;
  flex: 1 1 25rem;
  margin: 1rem auto;
  height: auto;
  border-radius: 5px;
  border-bottom: 5px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  /*Interesante*/
}

.campo:hover {
  box-shadow: 0px 0px 2px 2px black;
  /* transform: rotate(5deg); */
}
.bg-boton {
  display: flex;
  justify-content: center;
  padding: .5rem;
  width: 100%;
  height: 6rem;
}
#fincuest {
  width: 40%;  
  transition: width 0.3s ease-in-out;

}

#fincuest:focus {
  outline: none;
  width: 60%;
  transition: width 0.3s ease-in;
  box-shadow: 0 2px 0 1px green;

}
#reiniciar {
  font-size:1.2rem;
  width:75%;
  transition: width 0.3s ease-in-out;
}
#reiniciar:focus {
  outline: none;
  width: 90%;
  transition: width 0.3s ease-in;
  box-shadow: 0 2px 0 1px red;
}

.boton {
  font-weight: bold;
  color: #000;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 0 2px 0 1px rgba(128, 128, 128, 0.786);
  text-transform: uppercase;
  border: medium;
  padding: 1.5rem;
  border-radius: .5rem;
  font-family: var(--fuente);
}

.boton:active {
  margin-top: .5rem;
  box-shadow: unset;
}
input {
  margin-top: 11px;
  border-radius: .5rem;
  padding: 1rem;
  width: 1rem;
  border: none;
  color:white;
}

input:focus {
  outline: none;
  background-color: #2222228a;
  transition: all 0.3s ease; 
  box-shadow: 0 2px 0 1px lightblue;
  width: 25rem;
}

input::placeholder {
  text-transform: uppercase;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.571);
}
.campo h3 {
  background-color: rgb(234, 255, 0);
  width: max-content;
  padding: 1rem;
  margin: 10px 0px 2rem auto;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 5px;
  height: auto;
  box-shadow: 0 2px 0 1px #222;

}

.areaTemp {
  margin: auto;
  width:90%;
  height: max-content;
  padding: 1rem;
  border-radius: 5px;
}

.section_tempo {
  text-align: center;
  margin:auto;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.Comentarios {
  width: 3rem;
  height: 3rem;
  background-color: red;
}

.gratefoul {
  text-align: center;
  font-size: 15px;
}

span {
  color: rgba(129, 0, 250, 0.993);
}
@media (max-width: 40rem) {
  .contenedor {
    display: flex;
    flex-direction: column;
    margin-top: auto;

    padding: 1rem;
  }
  .temporizador {
    display: flex;
    flex-direction: column;
  order: -1;      
  gap: 1rem;
  width: 100%;
  height: max-content;
  margin-bottom: 1rem;
  }
  .section_tempo {
      padding: 2rem;
  }
#fincuest {
  width: 100%;
}
input {

  padding: 2rem;
  width: 100%;
}
.Qtions input:focus {
  width: 100%;
}
#fincuest:focus,#reiniciar:focus {
  box-shadow: 0 2px 0 1px grey; /* hereda el valor normal */
  color: inherit;
  outline: none;
  width: 100%;
  transition: inherit;
  box-shadow: unset;
  /* o simplemente resetea lo que quieras */
}
}

.title {
  width: min(50rem,95%);
  margin: 1rem auto;
  text-align: center;
background: linear-gradient(90deg,lightblue,lightcoral);
padding: 1rem;
border-radius: .5rem
;
}
.gentitle {
  font-family: var(--fuente);
  font-style: italic;
 
}
.tryuser{
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
color: white;
background-color: #2222225b;
padding: .5rem
;
border-radius: .5rem
;
}
